<div id="postBlock">
    <h3>{{title}}</h3>
    <p id="user">By: {{user.user_name}}</p>
    <p id="user">{{content}}</p>
    <p id="update">Updated at: {{updatedAt}}</p>

    <button id="viewBtn"><a href="/home/{{id}}">View Post</a></button>
</div>

<script src="/js/view.js"></script>